{% extends 'base.html' %}


{% block content %}
<h1>Сертифицированные наушники</h1>
<div class="row">
    {% for headphones in headphones %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ headphones.image  }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ headphones.name }}</h5>
              <p class="card-text">${{ headphones.price }}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}